*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    max-width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;
    height: auto;
    
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.animations{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: red;
    padding: 5px;
    margin-right: 15px;
    border-radius: 2.5px;
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}
@keyframes example{
    
    0% { 
       background-color:  #a2b9bc;}
    25% {background-color:  #b2ad7f;}
    50% {background-color: #878f99;}
    75% {background-color:  #6b5b95;}
   
    100% {background-color: #d64161;}
}